// header
header{
    // width: 100%;
    // position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: brown;
    color: white;
}

// newsとtwitter共通
#news-twitter{
    display: flex;
    justify-content: space-around;
    background-color: aqua;//テスト用
    padding: 50px 0;

    .news-twitter{
        display: flex;
    }

    li{
        padding: 30px;
        display: flex;
        border-bottom: solid 1px black;
    }

    p{
        padding-left: 50px;
    }
}

.fade{
    text-align: center;

    img{
        margin: 0 auto;
    }

    ul{
        padding: 30px 0;
    }
}

// newsとtwitterロゴ
.news-twitter{
    height: 20px;
}

.news{
    width: 55%;
}