.parallax-bg {
  background-image: url("./img/DDP7dwiUQAMNZM-.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(165, 42, 42, 0.664);
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
}

#news-twitter {
  display: flex;
  justify-content: space-around;
  background-color: rgba(4, 66, 4, 0.347);
  height: 100%;
  width: 100%;
  padding: 50px 0;
}

#news-twitter .news-twitter {
  display: flex;
}

#news-twitter li {
  padding: 30px;
  display: flex;
  border-bottom: solid 1px black;
}

#news-twitter p {
  padding-left: 50px;
  color: white;
}

#news-twitter time {
  color: #ab0505;
}

.fade {
  text-align: center;
}

.fade img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.fade ul {
  padding: 30px 0;
}

.btn {
  background-color: black;
  color: white;
  width: 220px;
  padding: 15px 0;
  margin: 0 auto;
}

.news-twitter {
  height: 20px;
}

.news {
  width: 55%;
}

.kyojinn {
  height: 300px;
  width: 300px;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 50px;
  text-align: center;
  padding: 40px;
}

h1::first-letter {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 60px;
  color: #ab0505;
}

.kjn ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  margin: auto;
}

.kjn li {
  position: relative;
  background-color: rgba(4, 66, 4, 0.217);
  border-radius: 0.5em;
}

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 25px;
}

h2::first-letter {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 30px;
  color: #ab0505;
}

p {
  font-family: 'Sorts Mill Goudy', serif;
}

.ranking-text {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 190px;
  left: -100%;
  color: white;
  transition: all 0.5s ease;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  text-align: center;
}

.hover-animetion {
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.hover-animetion:hover .ranking-text {
  left: 35%;
}

.hover-animetion:hover .fileter, .hover-animetion:hover .fileter-shingeki, .hover-animetion:hover .fileter-ogata, .hover-animetion:hover .fileter-yoroi, .hover-animetion:hover .fileter-megata {
  right: 0;
}

.fileter, .fileter-shingeki, .fileter-ogata, .fileter-yoroi, .fileter-megata {
  height: 300px;
  width: 300px;
  background-image: url(./img/eren-seinenn.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -101%;
  transition: all 0.5s ease;
}

.fileter-shingeki {
  background-image: url(./img/20200822100953.jpeg);
}

.fileter-ogata {
  background-image: url(./img/aruminn.jpeg);
}

.fileter-yoroi {
  background-image: url(./img/raina-.jpeg);
}

.fileter-megata {
  background-image: url(./img/annie.jpeg);
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(4, 66, 4, 0.347);
  padding: 30px 0 50px;
}

.banner img {
  height: 80px;
  width: 300px;
}

.share {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.share img {
  height: 50px;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */