// header
header {
    // width: 100%;
    // position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: brown;
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
}

// newsとtwitter共通
#news-twitter {
    display: flex;
    justify-content: space-around;
    // background-color: rgb(4, 66, 4);
    background-image: url(./img/sinnzouwosasageyo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 50px 0;

    .news-twitter {
        display: flex;
    }

    li {
        padding: 30px;
        display: flex;
        border-bottom: solid 1px black;
    }

    p {
        padding-left: 50px;
        color: white;
    }

    time {
        color: rgb(171, 5, 5);
    }
}

.fade {
    text-align: center;

    img {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    ul {
        padding: 30px 0;
    }
}

.btn {
    background-color: black;
    color: white;
    width: 220px;
    padding: 15px 0;
    margin: 0 auto;
}

// newsとtwitterロゴ
.news-twitter {
    height: 20px;
}

.news {
    width: 55%;
}

// 巨人紹介
$col1:300px;

.kyojinn{
    height: $col1;
    width: $col1;
    // clip-path: ellipse(25% 40% at 50% 50%);
}

.kjn{
    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px;
        margin: auto;
    }
}

h2::first-letter{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 30px;
    color: rgb(171, 5, 5);
    // color: rgb(78, 18, 18);   
}

h2{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 25px;
}

p{
    font-family: 'Sorts Mill Goudy', serif;

}


// フッター
.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

$colshare:50px;

.banner{
    img{
        height: 80px;
        width: 300px;
    }
}

.share{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height: $colshare;
        width: $colshare;
    }

}