// レスポンシブ
@mixin sp-screen {
    @media screen and (max-width: 767px) {
        @content;
    }
}

// 固定する画像
.parallax-bg {
    background-image: url('./img/DDP7dwiUQAMNZM-.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// header
header {
    // width: 100%;
    // position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(165, 42, 42, 0.664);
    color: white;
    font-family: 'Sorts Mill Goudy', serif;

    @include sp-screen {
        display: block;
        text-align: center;
        font-size: 13px;
        padding: 20px;
    }
}

// newsとtwitter共通
#news-twitter {
    display: flex;
    justify-content: space-around;
    background-color: rgba(4, 66, 4, 0.347);
    // background-image: url(./img/sinnzouwosasageyo.jpeg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 50px 0;

    @include sp-screen {
        display: block;
    }

    .news-twitter {
        display: flex;
    }

    li {
        padding: 30px;
        display: flex;
        border-bottom: solid 1px black;

        @include sp-screen {
            display: block;
        }
    }

    p {
        padding-left: 50px;
        color: white;
    }

    time {
        color: rgb(171, 5, 5);
    }
}

.fade {
    text-align: center;

    img {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    ul {
        padding: 30px 0;
    }
}

.btn {
    background-color: black;
    color: white;
    width: 220px;
    padding: 15px 0;
    margin: 0 auto;
}

// newsとtwitterロゴ
.news-twitter {
    height: 20px;
}

.news {
    width: 55%;

    @include sp-screen {
        width: 100%;
    }
}

// 巨人紹介
$col1:300px;

.kyojinn {
    height: $col1;
    width: $col1;
    // clip-path: ellipse(25% 40% at 50% 50%);
}

// h1::first-letter{
//     font-family: 'Sorts Mill Goudy', serif;
//     font-size: 60px;
//     color: rgb(171, 5, 5);   
// }

h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 50px;
    text-align: center;
    padding: 40px;

    // background-color: rgba(0, 0, 0, 0.899);
    &::first-letter {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 60px;
        color: rgb(171, 5, 5);
    }

}

.kjn {
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px;
        margin: auto;
    }

    li {
        position: relative;
        background-color: rgba(4, 66, 4, 0.217);
        border-radius: 0.5em;
    }
}



h2 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 25px;

    &::first-letter {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 30px;
        color: rgb(171, 5, 5);
        // color: rgb(78, 18, 18);   
    }
}

p {
    font-family: 'Sorts Mill Goudy', serif;

}

// hover
// 共通
$colfileter:300px;

.ranking-text {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 190px;
    left: -100%;
    color: white;
    transition: all 0.5s ease;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    text-align: center;
}

.hover-animetion {
    height: $col1;
    width: $col1;
    position: relative;
    overflow: hidden;

    &:hover .ranking-text {
        left: 35%;
    }

    &:hover .fileter {
        right: 0;
    }
}

// 始祖の巨人
#shiso {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter {
    height: $colfileter;
    width: $colfileter;
    background-image: url(./img/eren-seinenn.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -101%;
    transition: all 0.5s ease;
}

// 進撃の巨人
#shingeki {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-shingeki {
    @extend .fileter;
    background-image: url(./img/20200822100953.jpeg);
}

// 超大型巨人
#ogata {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-ogata {
    @extend .fileter;
    background-image: url(./img/aruminn.jpeg);
}

// 鎧の巨人

.fileter-yoroi {
    @extend .fileter;
    background-image: url(./img/raina-.jpeg);
}

// 女型の巨人
#megata {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-megata {
    @extend .fileter;
    background-image: url(./img/annie.jpeg);
}

// 顎の巨人
#agito {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-ago {
    @extend .fileter;
    background-image: url(./img/poruko.jpeg);
}

// 車力の巨人
#syariki {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-syariki {
    @extend .fileter;
    background-image: url(./img/pi-ku.jpeg);
}

// 獣の巨人
.fileter-kemono {
    @extend .fileter;
    background-image: url(./img/Zeke_Jaeger.jpeg);
}

// 戦鎚の巨人
#sentui {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

.fileter-sentui {
    @extend .fileter;
    background-image: url(./img/darksideeren.jpeg);
}

// 無垢の巨人
.muku {
    @include sp-screen {
        margin-bottom: 100px;
    }
}

// hoverここまで

// ページトップに戻る
#page-top {
    margin-top: 0%;
    position: fixed;
    bottom: 80px;
    right: 30px;
    line-height: 1;
    z-index: 99;
}

#page-top a {
    background: rgba(21, 98, 252, 0.603);
    font-size: 40px;
    width: 80px;
    padding: 20px 1px;
    text-align: center;
    display: block;
    border-radius: 99px;
    transition: all .1s ease;
}

#page-top a:hover {
    opacity: 0.5;
}

// フッター
.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(4, 66, 4, 0.347);
    padding: 30px 0 50px;

    @include sp-screen {
        flex-direction: column-reverse;
    }
}

$colshare:50px;

.banner {
    img {
        height: 80px;
        width: 300px;
    }
}

.share {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: $colshare;
        width: $colshare;
    }

}