// header
header{
    // width: 100%;
    // position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: brown;
    color: white;
}

// newsとtwitter共通
#news-twitter{
    display: flex;
    justify-content: space-around;
    background-color: rgb(4, 66, 4);//テスト用
    padding: 50px 0;

    .news-twitter{
        display: flex;
    }

    li{
        padding: 30px;
        display: flex;
        border-bottom: solid 1px black;
    }

    p{
        padding-left: 50px;
    }
}

.fade{
    text-align: center;

    img{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    ul{
        padding: 30px 0;
    }
}

.btn{
    background-color: black;
    color: white;
    width: 220px;
    padding: 15px 0;
    margin: 0 auto;
}

// newsとtwitterロゴ
.news-twitter{
    height: 20px;
}

.news{
    width: 55%;
}